html {
  background: url("bg.png") repeat fixed 0 0 transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic";
}

.column {
  position: relative;
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #fefefe;
  box-shadow: 0 0 5px #000;
  text-align: center;
  cursor: move;
}

#columns {
  display: table;
  overflow: auto;
  margin: 50px auto 50px auto;
  padding: 0 0 20px 0;
  width: 1050px;
  border-bottom: 1px dashed #888;
}

.column header {
  padding: 5px;
  border-bottom: 1px solid #333;
  background: #efefef;
}

::selection {
  background: #E9264B;
  color: white;
}

.introduction {
  margin: 50px auto 50px auto;
  padding: 0 0 20px 0;
  width: 1050px;
  border-bottom: 1px dashed #888;
}

.discuss {
  margin: 50px auto 50px auto;
  padding: 0 0 20px 0;
  width: 1050px;
}

#navbar {
  overflow: auto;
  padding: 10px 10%;
  background: #eee;
  box-shadow: 0 0 5px #000;
}

.links {
  float: right;
  line-height: 63px;
}

.links a {
  margin: 0 10px;
  color: #111;
  text-decoration: none;
  font-size: 12px;
}

.logotype {
  position: relative;
  top: 5px;
  float: left;
  color: #C01A39!important;
  font-weight: normal;
  font-size: 50px!important;
  font-family: 
    'Great Vibes',
    cursive;
}

.logotype span {
  position: relative;
  top: -9px;
  left: -10px;
  font-size: 20px;
  font-family: "Century Gothic";
}